In [1]:
import pandas as pd
import numpy as np

In [2]:
#reading dataset
fake = pd.read_csv('Fake[1].csv')
true = pd.read_csv('True[1].csv')

In [3]:
fake.head(10)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017"
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017"
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017"
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017"
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017"

In [4]:
true.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [5]:
#adding new target feature class
fake["class"] = 0
true["class"] = 1

In [6]:
#merging true and fake datasets
merged = pd.concat([true,fake], axis = 0)

In [7]:
#checking columns
merged.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [8]:
#removing unwanted columns (title, subject, date)
df = merged.drop(["title", "subject", "date"], axis = 1)

In [9]:
#checking for null values
df.isnull().sum()

In [10]:
#shuffling the dataframe
#frac = 1 returns data in random order
df = df.sample(frac = 1)

In [11]:
df.head(10)

,text,class
3426,Newsweek just published a damning investigativ...,0
1875,"While campaigning, Donald Trump vowed to build...",0
21511,The LGBT Mafia and PC Police doing what they d...,0
14218,"Yes, it s really hard to be a dictator in Amer...",0
4437,WASHINGTON (Reuters) - Republicans are poised ...,1
13381,"Meanwhile, the Koch brothers are denying they ...",0
17141,BANGKOK (Reuters) - Rights groups on Wednesday...,1
16284,NAIROBI (Reuters) - Burundi s cabinet backed a...,1
12913,MEXICO CITY (Reuters) - Seven Latin American g...,1
10254,WASHINGTON (Reuters) - Republican U.S. Senate ...,1

In [12]:
#resetting index
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [13]:
df.head(10)

,text,class
0,Newsweek just published a damning investigativ...,0
1,"While campaigning, Donald Trump vowed to build...",0
2,The LGBT Mafia and PC Police doing what they d...,0
3,"Yes, it s really hard to be a dictator in Amer...",0
4,WASHINGTON (Reuters) - Republicans are poised ...,1
5,"Meanwhile, the Koch brothers are denying they ...",0
6,BANGKOK (Reuters) - Rights groups on Wednesday...,1
7,NAIROBI (Reuters) - Burundi s cabinet backed a...,1
8,MEXICO CITY (Reuters) - Seven Latin American g...,1
9,WASHINGTON (Reuters) - Republican U.S. Senate ...,1

In [14]:
#making function to process words
import re
import string
def words(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [15]:
df["text"] = df["text"].apply(words)

In [16]:
data = df["text"]
target = df["class"]

In [17]:
#separating into training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=10)

In [18]:
#converting text to vector usinf tf idf vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
XV_train = vectorization.fit_transform(X_train)
XV_test = vectorization.transform(X_test)

In [32]:
#using random forest classifier model
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=10, random_state=5)
forest.fit(XV_train, y_train)

RandomForestClassifier(n_estimators=10, random_state=5)

In [33]:
#checking training score
training_score = forest.predict(XV_train)
print("training set score:")
forest.score(XV_train, y_train)

training set score:

0.99940605232679

In [34]:
#checking test score
test_score = forest.predict(XV_test)
print("test set score:")
forest.score(XV_test, y_test)

test set score:

0.9614253897550111